/* Fix issues with carousel button colors */
a.btn-lg {
  color: #fff; 
}
a.btn-default {
  color: #007d7b; 
}

/* Styles for banner */
.cirrus-banner {
   display: block;
   width: 100%;
}
.cirrus-banner-txt {
   font-size: 125%;
   text-align: center;
   padding-top: 25px;
   color: #007d7b;
}

.carousel .carousel-inner img {
   object-fit: cover;
   overflow: hidden;
   height: none;
   width: 100%
}

