<div id="cirrus-news-panel" class = "panel panel-primary">
   <div class = "panel-heading">
      <h3 class = "panel-title">
         Latest News
      </h3>
   </div>
   
   <div class = "panel-body">
      {% assign sorted = (site.news | sort: date) | reverse %}
      {% for item in sorted %}
        <dl>
          <dt><a href="{{ item.url }}">{{ item.title }}</a> ({{ item.date | date: '%-d %B %Y' }})</dt>
          <dd>{{ item.excerpt | strip_html }} <a href="{{ item.url }}">Read more&hellip;</a></dd>
        </dl>
      {% endfor %}
   </div>
</div>
